<%= form_for @website do |f| %> 
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, :class => "input-text" %>
  </div> 
  <div class="actions">
    <%= f.submit "Create Landing Page", :class => "nice medium radius blue button" %>
  </div>
<% end %> 