<h2><%= @website.name %></h2>
<p><%= link_to @website.url, @website.url %></p>
<p><%= link_to @website.site_map, @website.site_map.url %></p>
<%= content_tag p, "Please wait for the pages to be captured, this will take a little while." if @website.pages.blank? %>
<ul class="block-grid five-up">
  <% @website.pages.each do |page| %>
   <li>
      <h6><%= link_to page.title, [@website, page] %></h6>
      <p>Last updated: <%= time_ago_in_words(page.updated_at) %></p>
   </li>
  <% end %>
</ul>

