<h2><%= @page.title %></h2>
<p><%= @page.url %></p> 
<% instance = @page.page_instances.last %>
<p>Last updated: <%= time_ago_in_words(instance.updated_at) %></p>
<p><%= image_tag instance.screen_shot.bigthumb.url  %></p>
<p><%= image_tag instance.screen_shot.thumb.url  %></p>  
<p><%= image_tag instance.screen_shot.smallthumb.url  %></p>
<p><%= image_tag instance.screen_shot.url  %></p>