<h2><%= @page.title %></h2>
<p><%= @page.url %></p> 
<p><%= image_tag @page.screen_shot.bigthumb.url  %></p>
<p><%= image_tag @page.screen_shot.thumb.url  %></p>  
<p><%= image_tag @page.screen_shot.smallthumb.url  %></p>
<p><%= image_tag @page.screen_shot.url  %></p>